body{
    background-color: #EFEEF3;
}
/* Dashboard */
.Dashboard{
    background-color: white;
    display: flex;
    gap: 10px;
    padding: 0 2%;
}
/* Sidebar */
.sidebar{
}
.sidebar>div{
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
}

/* Contents */
.profile-pic{
  
}
.project-info{
width: 100%;
    padding-top: 10px;
}
.profile-pic img{
    background-color: #F4CE9B;
    border-radius: 50%;
    padding: 3px;
}
.Contents-Container{
    border: 1px solid #EEEEEE;
    padding: 15px ;
    border-radius: 10px;
}
.Contents-header{
    display: grid;
    grid-template-columns: 80% 20%;
    padding-bottom: 10px;
    
}
.Contents-header div:nth-child(2){
    display: flex;
    gap: 10px;
}
.Contents{
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
}
.Status{
    display: flex;
 
}
.Status div:first-child{
    margin-right: 10px;
}
.rocket{
    display: flex;
    justify-content: space-between;
}
.employee-name, .project-title{
    font-weight: 600;
    font-size: 20px;
}
.project-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 60%;
}
.status-tracker>div p{
    font-weight: 600;
    
}
.Status P{
    font-size: 14px;
}
/* Clicked projects page */
.Widely-View-Projects{
    background-color: white;
    padding: 0 2%;
}
.full-project-description{
  background-color: #6F3FF3;
 width: 100%;
 word-wrap: break-word;
}
.Content{
    display: grid;
    grid-template-columns: 15% 65% 20%;
}
.Content .buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.Content .edit button{
    background-color: #FACBC8;
    
    border: none;
}
.Content .delete button{
    background-color: #FDE8CB;
    
    border: none;


}
/* Contents hover */

.Contents:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    padding: 10px;
    cursor: pointer;
}
.Contents .project-description:hover{
    width: 100%;
}
/* nav */
nav {
    background-color: white;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 5px 2em;
}
.avatar img{
    width: 50px;
    height: 50px;
}
.nav-tools{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;

}
.name{
    font-weight: bold;
}
.account-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.account-details img{
    border-radius: 50%;
    padding: 3px;
    background-color: #F4CE9B;
}
/* login */
.login {
    font-weight:bold;
    font-size: 20px;
    padding: 10px 24px;
    background-color: #6F3FF3;
    border-radius: 10px;
}
.login a{
    color: white;
}
.login:hover{
    border: 1px solid #b79ff9;  
}
/* ........................................ */
/* View All Tasks */
.hello{
    background-color: red;
}