body {
  background-color: #efeef3;
}

/* Dashboard */
.Dashboard {
  background-color: white;
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 0 2% 0 0;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  padding-top: 90px;
  border-right: 1px solid #EEEEEE;
  margin-right: 10px;
  height: 100%;
}
.sidebar-link{
  padding-left: 20px;
}
.sidebar-link div{
   padding-left: 5px;

}
.side-bar-details{
  width: 80%;
}
.side-bar-details>div{
margin-bottom: 30px;
display: flex;
border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 5px solid #6f3ff300;
}
.side-bar-details a{
  margin-left: 10px;
}
.aarrow{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}


.side-bar-details>div:hover{
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 5px solid #6f3ff3;
  border-right: none;
  cursor: pointer;
}
.sidebar-link>div>div{
  padding-left: 10px;
}
.bi-chevron-right {
  display: none;
}

.side-bar-details>div:hover .bi-chevron-right{
 display: block;
}
.side-bar-details>div:hover span{
  color: #6f3ff3;
}
/* .sidebar > div {
  display: flex;
  gap: 10px; 
} */

/* Contents */
.project-info {
  width: 100%;
}

.profile-pic img {
  background-color: #f4ce9b;
  border-radius: 50%;
  padding: 3px;
}

.Contents-Container {
  border: 1px solid #eeeeee;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
}

.Contents-header {
  display: grid;
  grid-template-columns: 80% 20%;
}

.Contents-header div:nth-child(2) {
  display: flex;
  gap: 15px;
}

.Contents, .user-contents {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.Contents .buttons {
    
    display: none;
    gap: 10px;
  }
  
  .Contents .edit button {
    background-color: #f6e3c8;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    border: 1px solid #f6e3c800;
  }
  .Contents .edit button:hover {
    border: 1px solid #c5b6a0;
    background-color: white;
color: #191919;
  }
  .Contents .delete button {
    background-color: #fccdcb;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #f6e3c800;
  }
  .Contents .delete button:hover {
    background-color: white;
    color: #191919;
    border: 1px solid #caa4a2;
  }
  .Contents .delete button i, .Contents .edit button i{
      padding-right: 5px;
  } 
.Status {
  display: flex;
}

.Status div:first-child {
  margin-right: 10px;
  
}

.rocket {
  display: flex;
  justify-content: space-between;
}

.employee-name,
.project-title {
  font-weight: 600;
  font-size: 20px;
  color: #191919;
}

.project-description {
    color: #8E9090;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: 90%;
}

.status-tracker > div p {
  font-weight: 600;
}

.due-date p,.rocket p{
    color: #8E9090;

}

.Status P {
  font-size: 14px;
}

/* Clicked projects page */
.Widely-View-Projects {
  padding: 0 2%;
  background-color: white;
  height: 100vh;
}

.full-project-description {
  word-wrap: break-word;
  color: #8E9090;
}

.Content {
  display: grid;
  padding: 10px;
  border-radius: 10px;
  grid-template-columns: 20% 45% 15% 20%;
  height: 100%;
  border: 1px solid #eeeeee;
}

.Content .buttons {
  display: flex;
  gap: 10px;
}

.Content .edit button {
  background-color: #f6e3c8;
  border-radius: 5px;
  width: 110px;
  height: 40px;
  border: none;
}

.Content .delete button {
  background-color: #fccdcb;
  border: none;
  width: 110px;
  height: 40px;
  border-radius: 5px;
}
.Content .delete button i, .Content .edit button i{
    padding-right: 10px;
}
/* Contents hover */

.Contents:hover, .user-contents:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  padding: 10px;
  cursor: pointer;
  transition-delay:0.09s;
  /* transition: ; */
}

.Contents:hover p{
  width: 100%;
  white-space:normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.Contents:hover .buttons{
display: flex;
}
.Contents:hover{
    grid-template-columns: 20% 35% 22% 20%;
}
/* nav */
nav {
  background-color: white;
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 5px 2em;
  border-radius: 10px 10px 0 0;
}

.avatar img {
  width: 50px;
  height: 50px;
}

.nav-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.name {
  font-weight: bold;
  color: #191919;
}

.account-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.account-details img {
  border-radius: 50%;
  padding: 3px;
  background-color: #f4ce9b;
}

/* login */
 .login {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 24px;
  background-color: #6f3ff3;
  border-radius: 10px;
  border: none;
  border: 1px solid #b79ff900;
}
.loginform{
  background-color: #6f3ff3;
  border: none;

}
input[type="submit"] {
  color: white;
}
.login-a a{
  color: white;
}
nav i{
  color: white;
}
.login:hover {
  border: 1px solid #b79ff9;
} 

/* ........................................ */
/* View All Tasks */
.hello {
  background-color: red;
}


/* ................. */

/* user dashboard */
.user-contents{
  grid-template-columns: 20% 45% 20% 15%;
}
.user-contents .edit button{
  background-color: #CEFAD7;
  border-radius: 5px ;
  padding: 5px 18px;
  border: 1px solid #28613600;
  border: none;
  color: #286136;
}
.edit button:hover{
  border: 1px solid #286136;
  background-color: white;
}
.user-contents .edit button i{
  padding-right: 10px;

}

/* .................. */
/* Login */
.login-container{
  height: 100vh;
  padding: 80px 60px;
  /* width: 100%; */
}
.login-container>div{
  background-color: white;
  border-radius: 10px;
  /* width: 100%; */
  padding-left: 30px;
  
}
.login-form{
  display: grid;
  border-radius: 10px;
  grid-template-columns: 50% 50%;
  height:88%;
}
.login-details-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  gap: 10px;
  width: 60%;
}
.login-form input[type=text] input[type=password]{
width: 60px;
border-radius: 5px;
padding: 10px;
border:1px solid #EEEEEE;

}
.login-form input[type=submit]  {
width: 60px;
border-radius: 5px;
margin-top: 30px;
padding: 10px;
background-color: #6f3ff3;
border: none;

width: 360px;
}
.login-picture-container img{
  width: 550px;
  height: 387px;
}
.login-picture-container{
  padding-top: 50px;
  background-color: #6f3ff3;
  border-radius: 0 0  10px 0;
}
.login-picture-container{
  /* position: relative; */
}
.login-picture-container>div{
/* position: absolute; */
bottom: 0;
}


/* employees */
.employee-section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.Contents-employee{
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Back */
.back{
  border:1px solid rgba(0, 0, 0, 0.178);
  padding: 5px 10px;
  border-radius: 5px;
  width: 100px;
  margin-bottom: 5px;
  text-align: center;
}
.back:hover{
border: 1px solid #6f3ff3;
}

/* home */
.home a{
  display: flex;
  justify-content: center;
}
.home a:hover{
  color: rgb(0, 0, 255) !important;
}
